<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-12 pt-2">
            <div class="text-center">
                <h4>Choose Category</h4>
            </div>
            <button class="btn btn-success m-1" (click)="getAllProducts()">All</button>
            @for (item of categoryList$ | async; track $index) {
                <button class="btn btn-success m-1" (click)="getProductByCategory(item.categoryId)">{{item.categoryName}}</button>
            }
        </div>
        <div class="col-md-10 col-12">
            <div class="row">
                @for (item of productList$ | async; track $index) {
                    <div class="col-lg-3 col-sm-6 col-12 pt-4">
                        <div class="card product-card">
                            <img [src]="item.productImageUrl" class="card-img-top product-image" alt="Product Image">
                            <span class="category-badge">{{item.categoryName}}</span>
                            <div class="card-body">
                                <h5 class="card-title">{{item.productName}}</h5> 
                                <p class="product-price">${{item.productPrice}}</p>
                                <div class="row"> 
                                    <div class="col-6">
                                        <button class="btn btn-primary btn-block" (click)="openEditModal(item)">Edit Item</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-danger btn-block" (click)="deleteProductById(item.productId)">Delete Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div> 
        </div>
    </div>
</div>

@if (showEditModal) {
    <div class="modal fade show" tabindex="-1" style="display: block; background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product</h5>
                    <button type="button" class="btn-close" (click)="closeEditModal()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editProductForm">
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" id="productName" formControlName="productName" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Product Price</label>
                            <input type="number" id="productPrice" formControlName="productPrice" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="productImageUrl" class="form-label">Image URL</label>
                            <input type="text" id="productImageUrl" formControlName="productImageUrl" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="closeEditModal()">Close</button>
                    <button class="btn btn-primary" (click)="saveProductChanges()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
}