<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="background-color: #6262e1 !important;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>
    
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/home">E-commerce App</a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/add-product">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add-category">Create Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/delete-category">Delete Category</a>
            </li>
        </ul>
    </div>
    
      <!-- Collapsible wrapper -->

       <!-- Right elements -->
       <!-- <div class="d-flex align-items-center"> -->
            <!-- Icon -->
            <!-- <a class="link-secondary me-3" href="#"> -->
                <!-- <i class="fa-solid fa-user"></i> -->
            <!-- </a> -->
        <!-- </div> -->
  </div>
</nav>

<router-outlet />